@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* For Additional CSS */
@layer base {

/* Animation for the typing effect */
/* Animation for the READY */
.ready h1{
    animation: ready ease-out 1s forwards;
    @apply -translate-x-96;
    opacity: 0;
  }
  .ready {
    & :nth-child(1){
      animation-delay: 1s;
    }
    & :nth-child(2){
      animation-delay: .8s;
    }
    & :nth-child(3){
      animation-delay: .6s;
    }
    & :nth-child(4){
      animation-delay: .4s;
    }
    & :nth-child(5){
      animation-delay: .2s;
      }
    }
  @keyframes ready {
    0%{
      opacity: 0;      
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }    
  }
@keyframes ready {
  0% {

  }
}


  /* Others */
.nav-btn{
    animation: heros ease-in-out 1s forwards;
    animation-delay: 1.5;
}
.hero-1{
    animation: heros ease-in-out 1.2s forwards;
    animation-delay: 1s;
}
.hero-2{
    animation: heros ease-in-out 1.4s forwards;
    animation-delay: 1s;
}
@keyframes heros {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
  /* Fot the contacts button */
  .contacts{
    animation: slide-in ease-in-out 1s forwards;
  }
  @keyframes slide-in {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
  }
  /* For the home button */
  .home{
    animation: home ease-in-out 1s forwards;
    animation-delay: .5s;
    }
    
      @keyframes home {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }    
      }
      
    .cursor{
      animation: blinker .5s ease-in-out infinite;
    }

    @keyframes blinker {
    0%,100%{
      opacity: 0;
    }      
    50%{
      opacity: 1;
    }
    }

    /* CSS For Typing Animation*/
    .letter-1{
      width: 0;
      animation-delay: 0s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-2{
      width: 0;
      animation-delay: 1s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-3{
      width: 0;
      animation-delay: 2s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-4{
      width: 0;
      animation-delay: 3s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-5{
      width: 0;
      animation-delay: 4s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-6{
      width: 0;
      animation-delay: 5s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-7{
      width: 0;
      animation-delay: 0s;
      animation: typing-animation ease-in-out 1s forwards;
    }
    .letter-1{
      width: 0;
      animation-delay: 0s;
      animation: typing-animation ease-in-out 1s forwards;
    }

    @keyframes typing-animation {
      from{
        width: 0;
      }
      to{
        width: 100%;
        display: block;
      }
    }

    /*Web Design Page*/

    #w1 a {
      background: black;
      &:hover {
        background: white;
        color: black;
      }
    }
    #w2 a{
      background: #6d6d6d;
      &:hover {
        background: white;
        color: #6d6d6d;
      }
    }
    #w3 a{
      background: #694bfe;
      &:hover {
        background: white;
        color: #694bfe;
      }
    }
    #w4 a{
      background: #b700ff;
      &:hover {
        background: white;
        color: #b700ff;
      }
    }
    #w5 a{
      background: #ff006a;
      &:hover {
        background: white;
        color: #ff006a;
      }
    }
    #w6 a{
      background: #ffbe44;
      &:hover {
        background: white;
        color: #ffbe44
      }
    }
    #w7 a{
      @apply bg-main-500;
      &:hover {
        background: white;
        @apply text-main-500
      }
    }
    #w1 h1 {
      color: black;
    }
    #w2 h1{
      color: #6d6d6d;
    }
    #w3 h1{
      color: #694bfe;
    }
    #w4 h1{
      color: #b700ff;
    }
    #w5 h1{
      color: #ff006a;
    }
    #w6 h1{
      color: #ffbe44;
    }
    #w7 h1{
      @apply text-main-500;
    }
    
  }
